
.content-right{
    display:flex;
    justify-content: flex-end;
}

.display-flex{
    display:flex;
}

.stick-right{
    margin-left:auto;
    margin-right:0;
}

.contact-detail{
    background-color:gainsboro;
    padding:15px;
}

.center{
    margin:auto;
}
