
.content-right{
    display:flex;
    justify-content: flex-end;
}

.display-flex{
    display:flex;
}

.stick-right{
    margin-left:auto;
    margin-right:0;
}

.contact-detail {
    background-color: #6cb996;
    padding: 15px;
}

.center{
    margin:auto;
}

.coming-soon {
    margin: 0;
    padding: 0;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50pt;
    font-family: 'Slabo 27px', serif;
}

.blog-tag{
    font-size:1rem;
}
