@using niroj.website.Areas.UserManagement.Models
@model RoleIndexViewModel

<form class="role-form">
    @Html.HiddenFor(a => a.Id)
    <div class="form-group row">
        <label class="col-lg-2 col-form-label">Role Name</label>

        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.Name, new { @Class = "form-control role-name" })
            @Html.ValidationMessageFor(a=>a.Name,null,new { @Class="text-danger"})
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-offset-2 col-lg-10">
            @{ string buttonText = "Update";
                if (string.IsNullOrWhiteSpace(Model.Id))
                {
                    buttonText = "Save";
                } }
            <button class="btn btn-sm btn-primary role-submit-btn" type="button"><i class="fa fa-save"></i><strong>&nbsp;&nbsp;&nbsp;@buttonText</strong></button>
        </div>
    </div>
</form>