@model List<ResumeSkillCategoryDto>
@{
    ViewData["Title"] = "Resume Skill Category Management";
    Layout = "_BackendLayout";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resume Skill Categories</h5>
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-w-m btn-success btn-header-sm btn-add-category"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp; New Skill Category</button>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover tbl-datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Order</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int sn = 1;
                                    foreach (var cat in Model)
                                    {
                                        <tr class="gradeX">
                                            <td>
                                                @sn
                                                <input type="hidden" class="cat-id" value="@cat.Id" />
                                            </td>

                                            <td class="center">@cat.Id</td>
                                            <td class="center">@cat.Name</td>
                                            <td class="center">@cat.Order</td>
                                            <th>
                                                <i class="fa fa-edit pointer btn-edit-category" data-toggle="tooltip" title="Edit Resume Skill Category"></i>
                                                <a href="/admin/resume-skill-category/delete?id=@cat.Id"> <i class="fa fa-trash pointer btn-delete-category" data-toggle="tooltip" title="Delete Skill Category"></i></a>
                                            </th>
                                        </tr>
                                        sn++;
                                    }
                                }


                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/Admin/ResumeSkillCategory.js" asp-append-version="true"></script>
   
}