@{
    Layout = null;
}
@model LoginViewModel
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Niroj Dahal | Login</title>
    <link href="~/backend/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/backend/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link href="~/backend/css/animate.css" rel="stylesheet" />
    <link href="~/backend/css/style.css" rel="stylesheet" />

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">ND</h1>

            </div>
            <h3>Niroj Dahal</h3>

            <p>Login here.</p>
            @using (Html.BeginForm(FormMethod.Post, new { @Class = "m-t" }))
            {
                <div class="form-group">
                    @Html.TextBoxFor(a => a.Email, new { placeholder = "Email", @Class = "form-control" })

                    @Html.ValidationMessageFor(a => a.Email)
                </div>
                <div class="form-group">
                    @Html.PasswordFor(a => a.Password, new { @Class = "form-control", placeholder = "Password" })

                    @Html.ValidationMessageFor(a => a.Password, null, new { @Class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            }

            <div asp-validation-summary="All" class="text-danger"></div>


            <p class="m-t"> <small>Copyright : Niroj Dahal  &copy; 2021</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/backend/js/jquery-3.1.1.min.js"></script>
    <script src="~/backend/js/popper.min.js"></script>
    <script src="~/backend/js/bootstrap.js"></script>
</body>

</html>

