@{
    var startDate = new System.DateTime(2016, 01, 01);
    var yearsOfWorking = DateTime.Now.Year - startDate.Year;
    if (startDate > DateTime.Now.AddYears(-yearsOfWorking))
        yearsOfWorking--;
}

<section class="about-me-section p-3 p-lg-5 theme-bg-light" id="about-me">
    <div class="container">
        <div class="profile-teaser row">

            <div class="col">
                <h2 class="name font-weight-bold mb-1">Niroj Dahal</h2>
                <div class="tagline mb-3">Senior Software Engineer</div>
                <div class="bio mb-4">
                    I'm a software engineer specialised in frontend and backend development for complex scalable web apps. Want to know more about me? Check out my resume.
                </div><!--//bio-->
                <div class="mb-4">
                    <a class="btn btn-primary me-2 mb-3" href="/attachment/resume" target="_blank"><i class="fas fa-arrow-alt-circle-right me-2"></i><span class="d-none d-md-inline">View</span> Resume</a>
                </div>
            </div><!--//col-->

            <div class="col-md-5 col-lg-5">
            </div>
        </div>
    </div>
</section><!--//about-me-section-->

<section class="overview-section p-3 p-lg-5" id="portfolio">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-3">What I do</h2>
        <div class="section-intro mb-5">I have more than  @yearsOfWorking years' experience building software. Below is a quick overview of my main technical skill sets and technologies I use. Want to find out more about my experience? Check out my <a class="text-link" href="/attachment/resume">resume</a>.</div>
        <div class="row">
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fa fa-desktop"></i></div>
                    <h3 class="item-title">Desktop</h3>
                    <div class="item-desc">
                        <p>Started Career as desktop software developer in Winforms and continuing the same using WPF framework.</p>
                        <ul>
                            <li>Winforms</li>
                            <li>WPF</li>
                            <li>Xamarin</li>
                        </ul>

                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fa fa-mobile"></i></div>
                    <h3 class="item-title">Mobile App Development</h3>
                    <div class="item-desc">
                        <p>I have been developing mobile app for about a year now with the frameworks mentioned</p>
                        <ul>
                            <li>Xamarin.Android</li>
                            <li>Xamarin.Forms</li>
                        </ul>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-chrome"></i></div>
                    <h3 class="item-title">Web Development</h3>
                    <div class="item-desc">
                        <p>I have been developing web application for more than 4 years now with the frameworks mentioned </p>
                        <ul>
                            <li>ASP.NET Core 2.1, 3.0</li>
                            <li>.NET 5</li>
                            <li>ASP.NET MVC 5</li>
                        </ul>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-angular me-2"></i><i class="fab fa-react me-2"></i></div>
                    <h3 class="item-title">Frameworks & Libraries</h3>
                    <div class="item-desc">
                        <ul>
                            <li>ASP.NET MVC 4,5</li>
                            <li>ASP.NET Web API</li>
                            <li>Entity Framework</li>
                            <li>Entity Framework Core</li>
                            <li>ASP.NET Core</li>
                            <li>ASP.NET Core Web API</li>
                            <li>SignalR</li>
                            <li>Bootstrap</li>
                            <li>Javascript</li>
                            <li>JQuery, Angular 7, React JS </li>
                        </ul>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-windows"></i></div>
                    <h3 class="item-title">Major OS & Tools</h3>
                    <div class="item-desc">
                        <ul>
                            <li>Windows</li>
                            <li>SQL Server Mgmt Studio</li>
                            <li>Visual Studio</li>
                        </ul>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-6 col-lg-3">
                <div class="item-inner">
                    <div class="item-icon"><i class="fab fa-git"></i></div>
                    <h3 class="item-title">Others</h3>
                    <div class="item-desc">
                        <ul>
                            <li>Version Control (GIT)</li>
                            <li>Unit Testing</li>
                            <li>Domain-Driven Design (DDD)</li>
                            <li>ORM (NHibernate,EF Core,EF)</li>
                            <li>Ajax</li>
                            <li>LINQ</li>
                            <li>Mocking(Moq framework)</li>
                            <li>Design Patterns</li>
                        </ul>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->

        </div>
    </div>
</section>


<section class="latest-blog-section p-3 p-lg-5" id="blogs">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-5">Latest Blog Posts</h2>

        <div class="theme-bg-light">
            <h3 style="height:200px;text-align:center;line-height:200px;vertical-align:middle">Blog coming soon....</h3>
        </div>
    </div>
</section>

<section class="my-work-section p-3 p-lg-5" id="my-works">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-5">My Works</h2>
        <div class="bio mb-4">
            Below are some repositories hosted on GitHub.
        </div>
        <div class="theme-bg-light" id="my-works-container">
            <h3 style="height:200px;text-align:center;line-height:200px;vertical-align:middle">Section Under Construction....</h3>
        </div>

    </div>
</section>

<section class="p-3 p-lg-5" id="contact">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-5">Contact</h2>

        <div class="container">
            @using (Html.BeginForm("send-message", "contact", FormMethod.Post, new { id = "contact-form", @Class = "contact-form col-lg-8 mx-lg-auto" }))
            {
                @Html.AntiForgeryToken()
                <h3 class="text-center mb-3">Please fill the form below.</h3>
                <div class="row g-3">
                    <div class="col-12 col-md-6">
                        <label class="sr-only" for="cname">Name</label>
                        <input type="text" class="form-control Name" id="cname" name="name" placeholder="Name" minlength="2" required="" aria-required="true">
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="sr-only" for="cemail">Email</label>
                        <input type="email" class="form-control Email" id="cemail" name="Email" placeholder="Email" required="" aria-required="true">
                    </div>
                    <div class="col-12">
                        <label class="sr-only" for="cmessage">Your message</label>
                        <textarea class="form-control Comment" id="cmessage" name="Comment" placeholder="Enter your message" rows="10" required="" aria-required="true"></textarea>
                    </div>
                    <div class="col-12">

                        <recaptcha data-callback="validateCaptcha"></recaptcha>
                    </div>
                    <div class="form-group col-12">
                        <button type="button" id="btn-contact-submit" class="btn btn-block btn-primary py-2">Send Now</button>
                        <div id="msgSubmit" class="h3 text-center hidden mt-20"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section scripts{
<script src="~/js/dashboard.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous"></script>


<recaptcha-script />
}