@model Dictionary<string,string>
@using Personal.Domain.Constants
@{
    var startDate = new System.DateTime(2016, 01, 01);
    var yearsOfWorking = DateTime.Now.Year - startDate.Year;
    if (startDate > DateTime.Now.AddYears(-yearsOfWorking))
        yearsOfWorking--;
}

<section class="about-me-section p-3 p-lg-5 theme-bg-light" id="about-me">
    <div class="container">
        <div class="profile-teaser row">

            <div class="col">
                <h2 class="name font-weight-bold mb-1">@Model[AppSettingConstants.NAME]</h2>
                <div class="tagline mb-3">@Model[AppSettingConstants.POSITION]</div>
                <div class="bio mb-4">
                    @Model[AppSettingConstants.CONTENT_BIO]
                </div>
                <div class="mb-4">
                    <a class="btn btn-primary me-2 mb-3" href="/attachment/resume" target="_blank"><i class="fas fa-arrow-alt-circle-right me-2"></i><span class="d-none d-md-inline">View</span> Resume</a>
                </div>
            </div><!--//col-->

            <div class="col-md-5 col-lg-5">
            </div>
        </div>
    </div>
</section>

<section class="overview-section p-3 p-lg-5" id="portfolio">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-3">What I do</h2>
        <div class="section-intro mb-5">I have more than  @yearsOfWorking years' experience building software. Below is a quick overview of my main technical skill sets and technologies I use. Want to find out more about my experience? Check out my <a class="text-link" href="/attachment/resume">resume</a>.</div>
        <div id="skills-container">
        </div>
    </div>
</section>


<section class="latest-blog-section p-3 p-lg-5" id="blogs">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-5">Latest Blog Posts</h2>

        <div class="theme-bg-light">
            <h3 style="height:200px;text-align:center;line-height:200px;vertical-align:middle">Blog coming soon....</h3>
        </div>
    </div>
</section>

<section class="my-work-section p-3 p-lg-5" id="my-works">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-5">My Works</h2>
        <div class="bio mb-4">
            Below are some repositories hosted on GitHub.
        </div>
        <div class="theme-bg-light" id="my-works-container">
            <h3 style="height:200px;text-align:center;line-height:200px;vertical-align:middle">Section Under Construction....</h3>
        </div>

    </div>
</section>

<section class="p-3 p-lg-5" id="contact">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-5">Contact</h2>

        <div class="container row">

            @using (Html.BeginForm("send-message", "contact", FormMethod.Post, new { id = "contact-form", @Class = "contact-form col-sm-12 col-md-8" }))
            {
                @Html.AntiForgeryToken()
                <h5 class="mb-3">Please fill the form below.</h5>
                <div class="row g-3">
                    <div class="col-12 col-md-6">
                        <label class="sr-only" for="cname">Name</label>
                        <input type="text" class="form-control Name" id="cname" name="name" placeholder="Name" minlength="2" required="" aria-required="true">
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="sr-only" for="cemail">Email</label>
                        <input type="email" class="form-control Email" id="cemail" name="Email" placeholder="Email" required="" aria-required="true">
                    </div>
                    <div class="col-12">
                        <label class="sr-only" for="cmessage">Your message</label>
                        <textarea class="form-control Comment" id="cmessage" name="Comment" placeholder="Enter your message" rows="10" required="" aria-required="true"></textarea>
                    </div>
                    <div class="col-12">

                        <recaptcha data-callback="validateCaptcha"></recaptcha>
                    </div>
                    <div class="form-group col-12">
                        <button type="button" id="btn-contact-submit" class="btn btn-block btn-primary py-2">Send Now</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            }

            <div class="col-sm-12 col-md-4 contact-detail">
              <h5 class="text-danger">EMAIL ADDRESS</h5>
              <label>developer.niroj@gmail.com</label>
              <div class="mb-5"></div>
              
              <h5 class="text-danger">MOBILE NO.</h5>
              <label>(+977)-9816003056</label>

              <div class="mb-5"></div>
              
              <h5 class="text-danger">ADDRESS</h5>
              <label>Mahalaxmisthan, Lalitpur</label>
            </div>
        </div>
    </div>
</section>

@section scripts{
<script src="~/js/dashboard.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous"></script>


<recaptcha-script />
}