<div class="container row">
    <div class="col-sm-12 col-md-4 contact-detail">
        <h5 class="text-danger">EMAIL ADDRESS</h5>
        <label>developer.niroj@gmail.com</label>
        <div class="mb-5"></div>

        <h5 class="text-danger">MOBILE NO.</h5>
        <label>(+977)-9816003056</label>

        <div class="mb-5"></div>

        <h5 class="text-danger">ADDRESS</h5>
        <label>Mahalaxmisthan, Lalitpur</label>
    </div>

    @using (Html.BeginForm("send-message", "contact", FormMethod.Post, new { id = "contact-form", @Class = "contact-form col-sm-12 col-md-8" }))
    {
        @Html.AntiForgeryToken()
        <h5 class="mb-3">Please fill the form below.</h5>
        <div class="row g-3">
            <div class="col-12 col-md-6">
                <label class="sr-only" for="cname">Name</label>
                <input type="text" class="form-control Name" id="cname" name="name" placeholder="Name" minlength="2" required="" aria-required="true">
            </div>
            <div class="col-12 col-md-6">
                <label class="sr-only" for="cemail">Email</label>
                <input type="email" class="form-control Email" id="cemail" name="Email" placeholder="Email" required="" aria-required="true">
            </div>
            <div class="col-12">
                <label class="sr-only" for="cmessage">Your message</label>
                <textarea class="form-control Comment" id="cmessage" name="Comment" placeholder="Enter your message" rows="10" required="" aria-required="true"></textarea>
            </div>
            <div class="col-12">

                <recaptcha data-callback="validateCaptcha"></recaptcha>
            </div>
            <div class="form-group col-12">
                <button type="button" id="btn-contact-submit" class="btn btn-block btn-primary py-2">Send Now</button>
                <div class="clearfix"></div>
            </div>
        </div>
    }


</div>