@model Personal.Domain.Dto.BlogDto
@using Westwind.AspNetCore.Markdown
@using Humanizer
<article class="blog-post px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
        <header class="blog-post-header">
            <h2 class="title mb-2">@Model.Title</h2>
            <div class="meta mb-2">
                <span class="date">Published @Model.CreatedDate.Humanize()</span>
                <span class="time">5 min read</span>
                @* <span class="comment"><a class="text-link comment-count" data-disqus-url="" href="#">4 comments</a></span>*@
            </div>
            <div class="meta mb-3">
                @for (var i = 0; i < Model.TagNames.Count; i++)
                {
                    <strong class="blog-tag"><a href="/blogs/tags/@Model.TagNames[i]">#@Model.TagNames[i]</a></strong>
                }
            </div>
        </header>

        <div class="blog-post-body">
            <figure class="blog-banner">
                <a href="~/images/blog/@Model.BannerImage"><img class="img-fluid" src="~/uploads/blog-img/@Model.BannerImage" alt="image"></a>
            </figure>
            @Html.Raw(Markdown.ParseHtmlString(Model.Content))

            <div class="blog-comments-section">
                <div id="disqus_thread"></div>
            </div>

        </div>
    </div>
</article>

@section scripts{
<script src="~/js/blog-detail.js" asp-append-version="true"></script>
}